/* ========reset css ============*/
*,
*::before,
*::after{
    /* 所有的标签，和伪元素都适中 */
margin: 0;
padding: 0;
/* 移动端常用布局是非固定像素 */
box-sizing: border-box;
-webkit-box-sizing: border-box;
/* 点击高亮效果的清除 */
-tap-highlight-color: transparent;
-webkit-tap-highlight-color: transparent;
}
body{
    font-size: 14px;
    font-family: "microsoft YaHei",sans-serif,"宋体";
    color: #333;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    /* 不允许改变尺寸 */
    resize: none;
    /* 元素的外观，none没有任何样式 */
    -webkit-appearance: none;
}
/* =======common css========== */
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearFix::before,
.clearFix::after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}
.m_l10{
    margin-left: 10px;
}
.m_r10{
    margin-right: 10px;
}
.m_t10{
    margin-top: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
/* 使用精灵图的公用样式 */
[class^="icon_"],[class*="icon_"]{
    background-repeat: no-repeat;
    background-image: url("../JDimages1/jd1.png");
    background-size: 200px 200px;
}