body{
    background: #f5f5f5f5;
}
/* 容器 */
.jd_container{
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;  /* auto水平方向居中*/
    /* background: pink;
    height: 1000px; */
}
/* 顶部搜索栏 */
.jd_search{
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    /* background: rgba(201, 21, 35, 0.85); */
}
.jd_search .jd_search_box{
    height: 40px;
    background: rgba(201, 21, 35, 0.85);
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.jd_search .jd_search_box .icon_logo{
    position: absolute;
    left: 10px;
    top: 4px;
    width: 59px;
    height: 36px;
    background-position: 0px -120px;
}
.jd_search .jd_search_box .login{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#fff;
}
.jd_search .jd_search_box form{
    width: 100%;
    padding-left: 70px;
    padding-right: 50px;
    position: relative;
}
.jd_search .jd_search_box form .icon_search{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 75px;
    top: 10px;
    background-position: -60px -128px;
}
.jd_search .jd_search_box form input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background: #fff;
    border-radius: 15px;
    padding-left: 40px;
}
/* 轮播图 */
.jd_bananer{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.jd_bananer ul:first-child{
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
}
.jd_bananer ul:first-child li{
    width: 10%;
    float: left;
}
.jd_bananer ul:first-child li a{
    display: block;
    width: 100%;
}
.jd_bananer ul:first-child li a img{
    display: block;
    width: 100%;
}
/* 电容器 */
.jd_bananer ul:last-child{
    position: absolute;
    width: 118px;
    height: 6px;
    left: 50%;
    margin-left: -59px;
    bottom: 6px;
}
.jd_bananer ul:last-child li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
    float: left;
}
.jd_bananer ul:last-child li:first-child{
    margin-left: 0;

}
.jd_bananer ul:last-child li.now{
    background: green;
    /* margin: 0 auto; */
}
/* 导航栏 */
.jd_nav{
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #ccc;
}
.jd_nav ul{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.jd_nav ul li{
    width: 25%;
    float: left;
}
.jd_nav ul li a{
    display: block;
    width: 100%;
}
.jd_nav ul li a img{
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}
.jd_nav ul li a p{
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 5px;
}
/* 产品区块 */
.jd_product{
    padding: 0 5px;
}
.jd_product_box{
    margin-top: 10px;
    box-shadow: 0 0 2px #ccc;
    /* min-height: 200px; */
    background: #ffffff;
}
.jd_product_box .tit{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ddd;
}
.jd_product_box .tit.nb{
    border-bottom: none;
}
.jd_product_box .tit h3{
    font-weight: normal;
    position: relative;
    padding-left: 23px;
}
.jd_product_box .tit h3::before{
    content: "";
    width: 3px;
    height: 12px;
    background: #d8505c;
    position: absolute;
    left: 10px;
    top: 10px;
}
/* 秒杀 */
.sk .icon{
    width: 16px;
    height: 20px;
    float: left;
    margin-left: 2px;
    margin-top: 7px;
    background: url(../JDimages1/sk.png) no-repeat center/16px 20px;
}
.sk .name{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    color: #d8505c;
}
.sk .time{
    float: left;
    margin-left: 10px;
}
.sk .time span{
    float: left;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    background: #333333;
    margin-left: 3px;
    margin-top: 9px;
}
.sk .time span:nth-child(3n){
    background: #fff;
    color: #333333;
    width: 3px;
}
/* 秒杀内容 */
.sk .pro{
    width: 100%;
    padding: 10px 0;
}
.sk .pro li{
    width: 33%;
    float: left;
}
.sk .pro li a{
    display: block;
    border-right: 1px solid #ddd;
}
.sk .pro li:last-child a{
    border-right: none;
}
.sk .pro li a img{
    display: block;
    margin: 0 auto;
    width: 64%;
}
.sk .pro li p{
    text-align: center;
    font-size: 12px;
    padding: 5px 0 ;
}
.sk .pro li .nowPrice{
    color: #d8505c;
}
.sk .pro li .oldPrice{
    color: #666;
    text-decoration: line-through;
}
/* 组合样式 */
.w_50{
    width: 50%;
    display: block;
}
.w_50 img{
    display: block;
    width: 100%;
}
/* 边框 */
.bl{
    border-left: 1px solid #dddddd;
}
.br{
    border-right: 1px solid #dddddd;
}
.bb{
    border-bottom: 1px solid #dddd;
}
